@use '@angular/material' as mat;

@include mat.core();

:root {
  color-scheme: light dark;
  --primary-color: #3f51b5;
  --accent-color: #ff4081;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: mat.get-color-from-palette(mat.$indigo-palette, 50);
}

a {
  color: inherit;
}

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: #2e7d32;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.error-snackbar {
    --mdc-snackbar-container-color: #c62828;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
